<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=tittle%></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"> 
        <section>
            <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore quidem accusantium ipsum magnam laudantium quod laborum nisi consequuntur, ipsa ipsam dolor voluptas modi maiores hic, repellendus illo minus inventore quam perspiciatis velit aperiam? Quaerat, dignissimos illo doloremque molestiae quasi ipsum. Ex deleniti ipsa eum minus eius rerum aliquid id ducimus! Iste praesentium explicabo nulla numquam. In esse vel aut commodi doloribus accusamus laborum quo. Quisquam quas repudiandae veritatis deserunt repellendus? Et modi numquam ea laboriosam, mollitia ut placeat, cum aspernatur exercitationem optio recusandae saepe tempore dignissimos est voluptate deleniti cumque nam! Molestiae, totam quaerat! Nobis laboriosam cum distinctio earum consequuntur!</p>    </section>
    </main>
    <%- include('partials/footer')%>
    
</body>
</html>